<div>
  <% if @position %>
  <%= form_for(@position) do |f| %>
    <%= f.submit capitalize_as_title(t(:add_position)), class: "btn btn-form add_position" %>
    <br>
    <br>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:name))%></label>
      <hr class="form-field-hr">
      <%= f.text_field :name, class: "form-control text_field", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize %>
    </div>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:description))%></label>
      <hr class="form-field-hr">
      <%= f.text_area :description, class: "form-control text_area", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize%>
    </div>
    <%= f.hidden_field :election_id, value: @election_id %>
  <% end %>
  <% end %>
</div>

<div id="positions_list">
  <label class="form-field-label"><%=capitalize_as_title(t(:existing_positions))%></label>
  <hr class="form-field-hr">

  <% if @positions_list %>
  <% @positions_list.each do |position_item| %>
    <div class="position_item">
      <div class="item_controls">
        <%= link_to t(:delete).capitalize, position_path(:id => position_item.id), method: :delete, :class => 'delete_link' %>
        <a class="edit_link position_edit_control"><%= t(:edit).capitalize%></a>
      </div>
      <div>
        <h3><%=position_item.name%></h3>
        <h4><%= t(:description).capitalize+": " + position_item.description.capitalize%></h4>
      </div>
      <div class="edit_position_form">
        <%= form_for(@position, :url => position_path(:id => position_item.id) ,:html => {:method => :put}) do |f| %>
          <div class="form-group">
            <label class="form-field-label"><%=capitalize_as_title(t(:name))%></label>
            <hr class="form-field-hr">
            <%= f.text_field :name, class: "form-control text_field", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize, value: position_item.name%>
          </div>
          <div class="form-group">
            <label class="form-field-label"><%=capitalize_as_title(t(:description))%></label>
            <hr class="form-field-hr">
            <%= f.text_area :description, class: "form-control text_area", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize, value: position_item.description%>
          </div>
          <%= f.submit capitalize_as_title(t(:save_changes)), class: "btn btn-form" %>
          <input type="button" value="<%= t(:cancel).capitalize%>" class="btn btn-large btn-danger cancel_edit_position_control">
        <% end %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<div class="section_controls">
  <%= render "partials/admin_list_pagination" %>
</div>

<%= javascript_include_tag "positions_util" %>
