<% provide(:title, t(:title_edit_article)) %>

<header 
class="title_photoheader"
  <% if @article.picture[0] %>
  style="background: url(<%= @article.picture[0]["url"] %>);"
  <% end %>
  />
  <div class="title_menubar">
    <%= form_for(@article, :url => article_upload_picture_path ,:html => {:method => :post}) do |photo_f| %>
      <%= photo_f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
      <button class="UI button capsule dark item" name="Publish">Upload Photo</button>
    <% end %>

    <% if false %>
      <button class="UI button capsule dark item" name="Publish">Clear Photo</button>
      <button class="UI button capsule dark item" name="Publish" style="margin-left: auto;">Delete</button>
      <button class="UI button capsule dark item" name="Publish">Save to Queue</button>
      <button class="UI button capsule dark item" name="Publish">Publish</button>
    <% end %>
  </div>
  <%= form_for(@article, :url => article_path ,:html => {:method => :put}) do |f| %>
  <%= f.text_field :title, class: "UI editfield header transparent", style: "width: 80%; max-width: 560px;", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
</header> 

<div class="page_container">
  <nav class="menubar">
    <% if false %>
      <div class="item" style="">
        <button class="UI button fullheight blue" name="Button">Add Quotation</button>
        <button class="UI button fullheight blue" name="Button">Add Poll</button>
      </div>
    <% end %>

    <div class="item" style="margin-left: auto;">
      <input
        class="UI button fullheight green"
        type="submit"
        value="<% if action_name == 'edit' %>Finish Editing<% else %>Publish<% end %>"
        name="commit" />
    </div>
  </nav>

  <% if false %>
    <div class="UI separator light">
      <h6 style="margin-right:auto;">Subheader</h6>
      <% if false %><h6>250/500 Words</h6><% end %>
    </div>
    <input class="UI editfield subheader" style="width:100%;" type="text" value="Document Subheader">
  <% end %>

  <div class="UI separator light">
    <h6 style="margin-right:auto;">Body Text</h6>
    <% if false %><h6>250/1500 Words</h6><% end %>
  </div>
  <%= f.text_area :content, class: "UI editfield body", style: "width: 100%; min-height: 250px;", placeholder: t(:field_placeholder, field_name: t(:content)).capitalize %>
</div>
<% end %>

<%= javascript_include_tag "articles_util" %>
<script type="text/javascript">
  $("#dpk_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>





<% if false %>

<div>
<%= form_for(@article, :url => article_path ,:html => {:method => :put}) do |f| %>
<div id="form_header_background"></div>
  <div id="form_header">
    <div id="form_header_top">
      <%= link_to image_tag("home/Camera.png", alt:t(:choose_cover_back)) + capitalize_as_title(t(:choose_cover_back)) , '#', :class => "btn btn_choose_cover" %>
      <%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form btn_form_header" %>
    </div>
    <hr>
    <%= f.text_field :title, class: "form-control text_field title_text_field", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
  </div>
  <div id="form_main">
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:date))%></label>
      <hr class="form-field-hr">
      <div class="input-group date" id="dpk_date" >
        <span class="input-group-addon input-addon-left">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
        <input type="text" class="form-control date_field" placeholder="<%=t(:field_placeholder, field_name: t(:date)).capitalize%>" name="article[date]" value="<%=@article.date%>" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:content))%></label>
      <hr class="form-field-hr">
      <%= f.text_area :content, class: "text_area form-control", placeholder: t(:field_placeholder, field_name: t(:content)).capitalize %>
    </div>
    <% end %>
    <br>
  </div>
  <div id="upload_pic_form">
    <%= form_for(@article, :url => article_upload_picture_path ,:html => {:method => :post}) do |f| %>
      <div class="form-group">
        <label class="form-field-label"><%=capitalize_as_title(t(:picture))%></label>
        <hr class="form-field-hr">
        <% @article.picture.each do |picture| %>
          <%= image_tag picture["url"], class: "article_image"%>
          <%= link_to t(:delete).capitalize, article_delete_picture_path(:id => picture["nodeId"]), method: :delete, :class => 'delete_link' %>
        <%end%>
      </div>
      <input type="hidden" id="hdd_previous_picture" name="article[previous_picture]" value="<%=@article.picture.blank? ? nil : @article.picture[0].to_json%>">
      <div class="form-group">
        <label class="form-field-label"><%=capitalize_as_title(t(:upload_new_picture))%></label>
        <hr class="form-field-hr">
        <div class="file_input_wrapper">
          <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
          <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
        </div>
      </div>
      <div class="upload-preview">
        <!--label class="form-field-label"><%=capitalize_as_title(t(:picture_preview))%></label-->
        <!--Image closing tag required by the upload-preview-->
        <img />
      </div>
      <%= f.submit capitalize_as_title(t(:upload)), class: "btn btn-form file_input_button" %>
  <% end %>
  </div>
</div>

<% end %>
