<% provide(:title, t(:title_edit_article)) %>
<div>
<%= form_for(@article, :url => article_path ,:html => {:method => :put}) do |f| %>
<div id="form_header_background"></div>
  <div id="form_header">
    <div id="form_header_top">
      <%= link_to image_tag("home/Camera.png", alt:t(:choose_cover_back)) + capitalize_as_title(t(:choose_cover_back)) , '#', :class => "btn btn_choose_cover" %>
      <%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form btn_form_header" %>
    </div>
    <hr>
    <%= f.text_field :title, class: "form-control text_field title_text_field", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
  </div>
  <div id="form_main">
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:date))%></label>
      <hr class="form-field-hr">
      <div class="input-group date" id="dpk_date" >
        <span class="input-group-addon input-addon-left">
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
        <input type="text" class="form-control date_field" placeholder="<%=t(:field_placeholder, field_name: t(:date)).capitalize%>" name="article[date]" value="<%=@article.date%>" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:content))%></label>
      <hr class="form-field-hr">
      <%= f.text_area :content, class: "text_area form-control", placeholder: t(:field_placeholder, field_name: t(:content)).capitalize %>
    </div>
    <% end %>
    <br>
  </div>
  <div id="upload_pic_form">
    <%= form_for(@article, :url => article_upload_picture_path ,:html => {:method => :post}) do |f| %>
      <div class="form-group">
        <label class="form-field-label"><%=capitalize_as_title(t(:picture))%></label>
        <hr class="form-field-hr">
        <% @article.picture.each do |picture| %>
          <%= image_tag picture["url"], class: "article_image"%>
          <%= link_to t(:delete).capitalize, article_delete_picture_path(:id => picture["nodeId"]), method: :delete, :class => 'delete_link' %>
        <%end%>
      </div>
      <input type="hidden" id="hdd_previous_picture" name="article[previous_picture]" value="<%=@article.picture.blank? ? nil : @article.picture[0].to_json%>">
      <div class="form-group">
        <label class="form-field-label"><%=capitalize_as_title(t(:upload_new_picture))%></label>
        <hr class="form-field-hr">
        <div class="file_input_wrapper">
          <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
          <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
        </div>
      </div>
      <div class="upload-preview">
        <!--label class="form-field-label"><%=capitalize_as_title(t(:picture_preview))%></label-->
        <!--Image closing tag required by the upload-preview-->
        <img />
      </div>
      <%= f.submit capitalize_as_title(t(:upload)), class: "btn btn-form" %>
  <% end %>
  </div>
</div>
<%= javascript_include_tag "articles_util" %>
<script type="text/javascript">
  $("#dpk_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>