<%= link_to t(:create).capitalize, new_article_path, :class => 'btn btn-success' %> 
<% @articles_list.each do |article| %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=article.title%></h3>
    <%=epoch_to_date(article.date)%>
    <%= t(:created_by).capitalize+": "+article.creator_email%>
  </div>
  <div class="panel-body">
  <%= image_tag get_image_server()+article.picture, class: "article_image", alt: t(:picture) %>
      <p><%=article.content%></p>
  </div>
  <div class="panel-footer">
    <%= link_to t(:edit).capitalize, edit_article_path(:id => article.id), :class => 'btn btn-info' %> <%= button_to t(:delete).capitalize, article_path(:id => article.id), method: :delete, :class => 'btn btn-danger' %> <%= button_to t(:like).capitalize, article_like_path(:id => article.id), method: :put, :class => 'btn btn-success' %>
    <%= button_to t(:unlike).capitalize, article_unlike_path(:id => article.id), method: :put, :class => 'btn btn-success' %>
    <div class="fb-like" 
      data-send="true" 
      data-width="450" 
      data-show-faces="true" 
      layout="button"
      data-share="false"
      href="<%=article._links['self']['href']%>">
    </div>
  </div>
</div>
<% end %>