<div id="articles_list">
  <% @articles_list.each do |article| %>

    <section class="module news">
      <div class="module_container">
        <div class="module_media">
          <%= image_tag article.picture.blank? ? GENERIC_ARTICLE_IMAGE : article.picture[0]["url"], class: "img_tile", alt: t(:picture) %>
        </div>      
        <div class="module_text">
          <h3><%= article.title %></h3>
          <h4><%= article.date %></h4>

          <hr style="visibility: hidden;">

          <ul>
            <li>Added by <%= article.creatorProfile["givenName"] %> <%= article.creatorProfile["familyName"] %></li>
          </ul>
        </div>
        <%= button_to '', article_path(:id => article.id), confirm: 'Are you sure?', method: :delete, class: "UI button icon delete red" %>
        <%= link_to '<button class="UI button icon info blue" name="Button"></button>'.html_safe, edit_article_path(:id => article.id) %>
      </div>
    </section>

  <% end %>
</div>
