<div class="section_controls">
<%= link_to capitalize_as_title(t(:create_post)), new_article_path, :class => 'create_link' %>
<div class="pagination_controls">
  <% if @previous_page >=0 %>
  <%= link_to "<< ", articles_path(:page =>@previous_page), :class => 'nav_control' %> 
  <%end%>
  <%=(@page+1)%>
  <% if @next_page >=0 %>
  <%= link_to " >>", articles_path(:page =>@next_page), :class => 'nav_control' %> 
  <%end%> 
</div>
</div>
<div id="articles_list">
  <% @articles_list.each do |article| %>
  <div class="article_item">
    <div class="item_image">
        <%= image_tag article.picture.blank? ? GENERIC_ARTICLE_IMAGE : article.picture[0], class: "article_image_thumbnail", alt: t(:picture) %>
    </div>
    <div class="item_controls">
      <%= link_to t(:edit).capitalize, edit_article_path(:id => article.id), :class => 'edit_link' %> 
      <%= link_to t(:delete).capitalize, article_path(:id => article.id), method: :delete, :class => 'delete_link' %>
    </div>
    <div>
    <h3><%=article.title%></h3>
    <h4><%= t(:created_by).capitalize+" "+article.creator_email + ' ' + t(:the)+ ' ' + article.date%></h4>
    </div>
  </div>
  <!--hr-->
  <% end %>
</div>
