<% provide(:title, t(:title_edit_article)) %>

<%= form_for(@article) do |f| %>

<header 
  class="title_photoheader" />  
    <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
    <div class="title_menubar">
      <button id="upload-photo" class="UI button capsule dark item" name="commit">Upload Photo</button>
      <div class="upload-preview" style="display: none;">
        <!--label><%=capitalize_as_title(t(:picture_preview))%></label-->
        <!--Image closing tag required by the upload-preview-->
        <img />
      </div>
      
      <% if false %>
        <button class="UI button capsule dark item" name="Publish">Clear Photo</button>
        <button class="UI button capsule dark item" name="Publish" style="margin-left: auto;">Delete</button>
        <button class="UI button capsule dark item" name="Publish">Save to Queue</button>
        <button class="UI button capsule dark item" name="Publish">Publish</button>
      <% end %>
  </div>
        
  <%= f.text_field :title, class: "UI editfield header", style: "width: 80%; max-width: 560px;", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
</header> 

<div class="page_container">
  <nav class="menubar">
    <% if false %>
      <div class="item" style="">
        <button class="UI button fullheight blue" name="Button">Add Quotation</button>
        <button class="UI button fullheight blue" name="Button">Add Poll</button>
      </div>
    <% end %>

    <div class="item" style="margin-left: auto;">
      <input
        class="UI button fullheight green"
        type="submit"
        value="<% if action_name == 'edit' %>Finish Editing<% else %>Publish<% end %>"
        name="commit" />
    </div>
  </nav>

  <% if false %>
    <div class="UI separator light">
      <h6 style="margin-right:auto;">Subheader</h6>
      <% if false %><h6>250/500 Words</h6><% end %>
    </div>
    <input class="UI editfield subheader" style="width:100%;" type="text" value="Document Subheader">
  <% end %>

  <div class="UI separator light">
    <h6 style="margin-right:auto;">Date</h6>
  </div>
  <div class="input-group date" id="dpk_date" >
    <span class="input-group-addon input-addon-left">
      <i class="glyphicon glyphicon-calendar"></i>
    </span>
    <input type="text" style="border: none; font-size: 125%;" readonly="true" class="form-control date_field" value="<%= Time.now.strftime("%d %B %Y") %>" placeholder="<%=t(:field_placeholder, field_name: t(:date)).capitalize%>" name="article[date]">
  </div>

  <div class="UI separator light">
    <h6 style="margin-right:auto;">Body Text</h6>
    <h6><span class="body-wc">0</span>/1500 Words</h6>
  </div>
  <%= f.text_area :content, class: "UI editfield body", style: "width: 100%; min-height: 250px;", placeholder: t(:field_placeholder, field_name: t(:content)).capitalize %>
</div>
<% end %>

<%= javascript_include_tag "articles_util" %>
<script type="text/javascript">
  $("#dpk_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>



<% if false %>
<% provide(:title, t(:title_new_article)) %>
<div>
<%= form_for(@article) do |f| %>
  <div id="form_header_background"></div>
  <div id="form_header">
    <div id="form_header_top">
    <%= link_to image_tag("home/Camera.png", alt:t(:choose_cover_back)) + capitalize_as_title(t(:choose_cover_back)) , '#', :class => "btn btn_choose_cover" %>
    <%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form btn_form_header" %>
    </div>
    <hr>
    <%= f.text_field :title, class: "form-control text_field title_text_field", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
  </div>
  <div id="form_main">
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:date))%></label>
    <hr class="form-field-hr">
    <div class="input-group date" id="dpk_date" >
      <span class="input-group-addon input-addon-left">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
      <input type="text" readonly="true" class="form-control date_field" placeholder="<%=t(:field_placeholder, field_name: t(:date)).capitalize%>" name="article[date]">
    </div>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:content))%></label>
    <hr class="form-field-hr">
    <%= f.text_area :content, class: "form-control text_area", placeholder: t(:field_placeholder, field_name: t(:content)).capitalize %>
  </div>
  <div class="form-group">
      <%= f.label :picture, capitalize_as_title(t (:picture)), class: "form-field-label" %> 
      <hr class="form-field-hr">
    <div class="file_input_wrapper">
      <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" , placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize, class: 'file_input_control' %>
      <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
    </div>
  </div>
  <div class="upload-preview">
    <!--label><%=capitalize_as_title(t(:picture_preview))%></label-->
    <!--Image closing tag required by the upload-preview-->
    <img />
  </div>
  </div>
  <% end %>
</div>
<%= javascript_include_tag "articles_util" %>
<script type="text/javascript">
  $("#dpk_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>

<% end %>