<section class="item">
  <header>
    <h3><%= t(:news_feed).capitalize %></h3>
  </header>

  <!--<%= link_to t(:news_feed).capitalize, events_path %>-->
  <%= link_to t(:articles).capitalize, articles_path %>
  <%= link_to t(:photos).capitalize, photos_path %>
  <%= link_to t(:events).capitalize, events_path %>
</section>


<% if false %>
<section class="item">
  <header>
    <h3><%= t(:election).capitalize %></h3>
  </header>

  <%= link_to t(:positions).capitalize, positions_path %>
  <%= link_to t(:tickets).capitalize, tickets_path %>
  <%= link_to t(:candidates).capitalize, candidates_path %>
</section>
<% end %>
