<div class="navbar" role="navigation">
  <div class="navbar-header">
    <button id="collapse_button" type="submit" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu">
      <span class="sr-only"<%=capitalize_as_title(t(:toggle_navigation))%></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="visible-xs navbar-brand"><%=capitalize_as_title(t(:main_menu))%></span>
  </div>
  <div class="navbar-collapse collapse sidebar-navbar-collapse" id="main_menu">
    <ul class="nav nav-sidebar isegoria_sidemenu_l1">
      <li><%= t(:home).capitalize%></li>
      <ul class="nav nav-sidebar isegoria_sidemenu_l2">
        <li><%= link_to t(:news_feed).capitalize, events_path%></li>
        <li><%= link_to t(:polling).capitalize, polls_path%></li>
        <li><%= link_to t(:users).capitalize, users_path%></li>
      </ul>
      <li><%= t(:election).capitalize%></li>
      <li><%= t(:admin_tools).capitalize%></li>
    </ul>
  </div>
</div>
