<% @users_list.each do |user| %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%=user.username%></h3>
  </div>
  <div class="panel-body">
   <!--%= gravatar_for user %-->
<p><%=t(:full_name).capitalize%>: <%=capitalize_as_title(user.full_name)%> </p>
<p><%=t(:email).capitalize%>: <%=user.email%> </p>
  </div>
  <div class="panel-footer">
  <% unless user.access_granted.is_a?(TrueClass) %>
    <%= button_to capitalize_as_title(t(:grant_access)), users_change_access_path(:id => user.id, :action_type => "grant_access"), method: :post, :class => 'btn btn-success' %> 
  <% else %>
    <%= button_to capitalize_as_title(t(:revoke_access)), users_change_access_path(:id => user.id, :action_type => "revoke_access"), method: :post, :class => 'btn btn-danger' %>
  <% end %>
  </div>
</div>
<% end %>