  <% provide(:title, t(:title_home).capitalize) %>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div id="home_container"/>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%=t(:home_headline).capitalize%></h1>
        <p><%=t(:home_tag_line).capitalize%></p>
        <p><%= link_to capitalize_as_title(t(:signup)), {controller: "home", action: "signup"}, :class => 'btn btn-success btn-md' %></p>
        
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2><%=capitalize_as_title(t(:promotional_1_title))%></h2>
          <p><%=t(:promotional_1_content).capitalize%></p>
          <p><a class="btn btn-default" href="#" role="button"><%=capitalize_as_title(t(:view_details))%>&raquo;</a></p>
        </div>
         <div class="col-md-4">
          <h2><%=capitalize_as_title(t(:promotional_2_title))%></h2>
          <p><%=t(:promotional_2_content).capitalize%></p>
          <p><a class="btn btn-default" href="#" role="button"><%=capitalize_as_title(t(:view_details))%>&raquo;</a></p>
        </div>
         <div class="col-md-4">
          <h2><%=capitalize_as_title(t(:promotional_3_title))%></h2>
          <p><%=t(:promotional_3_content).capitalize%></p>
          <p><a class="btn btn-default" href="#" role="button"><%=capitalize_as_title(t(:view_details))%>&raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; <%=t(:eulers_bridge_copyright)%></p>
      </footer>
    </div>
   </div>
     <!-- /container -->