<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

	<!-- Include js plugin -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Isegoria Web</title>
</head>
<body id="landing_body">
  <div id= "landing_container_section_1" class="landing_container video_close_section1">
    <div id="section_1" class="landing-section">
      <div id="section_1_header">
		    <!--%= image_tag "landing/Isegoria_logo.png", class: "landing_logo" %-->
        <div id="header_app_name">
          <%= image_tag "landing/logo_white.png",  class:"isegoria_logo"%>
          <%=t(:isegoria).capitalize%>
          <%= image_tag "landing/Beta_Red.png",  class:"isegoria_logo"%>
        </div>
		    <button class="btn landing-link-border" id="admin_login"><%=capitalize_as_title(t(:admin_login))%></button>
      </div>
      <hr>
      <div id="section_1_content">
        <h1 id="landing_modal"><%=t(:landing_modal)%></h1>
	       <h4 id="landing_message"><%=t(:landing_message)%> </h4>
	       <!--video controls>
        <source src="Shadows.mp4" type="video/mp4">
        <%=t(:video_unsupported).capitalize%>
        </video-->
<!--         <iframe id="isegoria_video" src="https://www.youtube.com/embed/qrZDbD4VDCU?enablejsapi=1&version=3rel=0&showinfo=0" frameborder="0" showinfo="0"
                     allowfullscreen> </iframe>
        <%= image_tag "landing/Play Button@2x.png", id:"video_play_button"%> -->
        <div id="section_1_apps_bar">
          <div class="row">
            <button class="btn landing-link-border" id="request_demo">Request a demo</button>
            <button class="btn landing-link-border" id="watch_video">Watch Intro Video</button>
		        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-5"><%= image_tag "landing/stop_vid.ico", id:"video_stop_button"%></div>
      </div>
	   </div>
  </div>
   
  <div id= "landing_container_section_2" class="landing_container">
	<div id="section_2" class="landing-section">
	  <div id="section_2_top">
      <h2 id="section_2_title">Community Driven</h2>
	    <h3>We’re all for people and strong relationships. Promote social interaction tailored to individual and group interests.</h3>
    </div>  
	</div>
  </div>
  
   <div id= "landing_container_section_3" class="landing_container">
	  <div id="section_3" class="landing-section">
      <div id="section_3_info">
      <div class="row section_3_icon_title">
    	  <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
    	    <h2>Build Network Effects</h2>
    	  </div>
      </div>	    
	    <h4>That large, open network of yours? It matters. Your network is the #1 predictor of career success and drives both innovation and fundraising.</h4>
	    <h4>Harness it now.</h4>
      </div>
	  </div>
  </div>

  <div id= "landing_container_section_5" class="landing_container">
    <div id="section_5" class="landing-section row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
        <h2>What is Isegoria</h2>
        <h4>Isegoria helps you connect, discover, shape and expand your community role within a revolutionary mobile-first experience.</h4>
<!--         <a href="">Learn more...</a> -->
      </div>
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
         <h2>Social learning</h2>
         <h4>By exploring and promoting positive change between individuals and groups, Isegoria will reward your efforts - earning you recognition amongst your peers.</h4>
      </div>
    </div>
  </div>
    
  <!--   section for icons -->
  <div id= "landing_container_section_6" class="landing_container">
	  <div id="section_6" class="landing-section row">
      <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
        <div class="row">
          <h2>What value can you create?</h2>
        </div>

        <div class = "row">
          <div class="col-xs-2"> <%= image_tag "landing/feature_icons/Security.png",  id:"section_6_icon"%></div>
          <div class="col-xs-10">
            <h4>Trust</h4>
            <p>When high = faster sharing and greater productivity</p>
          </div>
        </div>

        <div class = "row">
          <div class="col-xs-2"> <%= image_tag "landing/feature_icons/Network.png",  id:"section_6_icon"%></div>
          <div class="col-xs-10">
            <h4>Leaders</h4>
            <p>Develop and share diverse leadership across your network</p>
          </div>
        </div>

        <div class = "row">
          <div class="col-xs-2"> <%= image_tag "landing/feature_icons/Analytics.png",  id:"section_6_icon"%></div>
          <div class="col-xs-10">
            <h4>Analytics</h4>
            <p>Acquire insight on emergent macro patterns from your community network structure and dynamic interactions</p>
          </div>
        </div>

        <div class = "row">
          <div class="col-xs-2"> <%= image_tag "landing/feature_icons/PriceAlternate.png",  id:"section_6_icon"%></div>
          <div class="col-xs-10">
            <h4>Investment</h4>
            <p>Make better and faster investment decisions that respond to your community needs</p>
          </div>
        </div>

        <div class="row">
          <button class="btn landing-link-border" id="btn_more_info"><a href="mailto:sales@eulersbridge.com?Subject=Request%20a%20demo" target="_top"><%=capitalize_as_title(t(:request_a_demo))%></a></button>
        </div>
      </div>
	  </div>
  </div>
   
   <!--   section for vibrant inclusive  experiences-->
   
  <div id= "landing_container_section_7" class="landing_container">
    <div id="section_7" class="landing-section row">
      <h2>Features</h2>
      <div class="hidden-xs col-md-6 col-lg-6">
        <%= image_tag "landing/phoneScreenshot1.png",  id:"section_7_phone_img"%>
      </div>
       <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
         <h3>Design</h3>
         <h4>We’ve crafted a beautiful and usable user interface for both administrators and users. Everything looks crisp and modern as mobile apps should.</h4>
         <hr />

         <h3>Complexity</h3>
         <h4>Our graph database eats ultra-connected data and complex queries for breakfast. Break free of siloed data stores and view your community through a new powerful relationship-based lens.</h4>
         <hr />

         <h3>Security</h3>
         <h4>Isegoria uses the most security-sensitive data centre and network architecture available. Thanks AWS!</h4>
         <hr />

         <h3>Scalability</h3>
         <h4>Whether you’re a small group of volunteers or part of a world-leading institution; our service is scalable to any need.</h4>
         <hr />

         <h3>Integration</h3>
         <h4>Rest easy. With Isegoria, integration with your existing platform is only a coffee break away. We have the tech side covered so you can start focus on your community, rather then tech support.</h4>
      </div>
    </div>
  </div>
  
   <!--   section for powerful analytics-->
   
  <div id= "landing_container_section_8" class="landing_container">
    <div id="section_8" class="landing-section row">
     <div id="section_8_top">
        <h2>Sign up for our newsletter</h2>
        <input>
      </div>
    <button class="btn landing-link-border" id="btn_more_info"><a href="mailto:sales@eulersbridge.com?Subject=Request%20a%20demo" target="_top">Sign up</button>
    </div>
  </div>
  
  
 
 
  <%= render "partials/landing_footer" %>

  <div class="landing_container">
    <!--div class="landing-section">
      <%= image_tag "landing/iPhone_1.png", id:"section_3_phone_picture"%>
     </div>
    <div class="landing-section">
	  <%= image_tag "landing/iPhone_2.png", id:"section_5_phone_picture"%>
	</div-->
  </div>
  <div id="login_form">
    <%= form_for(:session, url: sessions_path, :html =>{class: "navbar-form navbar-right"}) do |f| %>
      <div class="form-group">
        <%= f.label :username, t(:username).capitalize, class: "sr-only" %>
        <%= f.text_field :username, class: "form-control", placeholder: t(:username).capitalize %>
      </div>
      <div class="form-group">
        <%= f.label :password, t(:password).capitalize, class: "sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: t(:password).capitalize %>
      </div>
      <%= f.submit capitalize_as_title(t(:login)), class: "btn btn-success navbar-button login_form_button" %>
      <input class="btn btn-danger navbar-button login_form_button" id="cancel_login" type="button" value="<%=capitalize_as_title(t(:cancel))%>" />
    <% end %>
  </div>
  <%= render "partials/flash_messages" %>
</body>
  

<script>

$(document).ready(function(){
 $('#video_stop_button').hide();
 $('#admin_login').click(function(e){
    $('#login_form').toggleClass('show');
    e.preventDefault();
    });
   $('#cancel_login').click(function(e){
    $('#login_form').removeClass('show');
    e.preventDefault();
    });
    var timerVariable;
    //script for video playing in the background
    $('#video_play_button').click(function(e){
      $('#landing_modal').hide();
      $('#landing_message').hide();
      $('#video_play_button').hide();
      $('#section_1_apps_bar').hide();
      $('#video_stop_button').show();
      $('#landing_container_section_1').removeClass('video_close_section1');
      $('#landing_container_section_1').addClass('video_open_section1');
      //$('#landing_container_section_1').css("background", "none");
      $('#isegoria_video').css("opacity", "0.9");
      $("#isegoria_video")[0].src += "&autoplay=1";
      //run the timer to close video after video length
      timerVariable = window.setTimeout(function(){videoStopFunction()},73500);
    });
    
     //script for video stoping
    $('#video_stop_button').click(function(e){
      videoStopFunction();
    });
    
    function videoStopFunction() {
      clearTimeout(timerVariable);
      $('#landing_modal').show();
      $('#landing_message').show();
      $('#video_play_button').show();
      $('#section_1_apps_bar').show();
      $('#video_stop_button').hide();
      //$('#landing_container_section_1').css('background','red');
      $('#landing_container_section_1').removeClass('video_open_section1');
      $('#landing_container_section_1').addClass('video_close_section1');
      $('#isegoria_video').css("opacity", "0.0");
      $("#isegoria_video")[0].src = "https://www.youtube.com/embed/qrZDbD4VDCU?enablejsapi=1&version=3rel=0&showinfo=0";
    }
    
  });

</script>
</html>