<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

	<!-- Include js plugin -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Isegoria Web</title>
</head>
<body id="landing_body">
  <div id= "landing_container_section_1" class="landing_container">
    <div id="section_1" class="landing-section">
      <div id="section_1_header">
		    <!--%= image_tag "landing/Isegoria_logo.png", class: "landing_logo" %-->
        <div id="header_app_name"><%=t(:isegoria).capitalize%></div>
		    <button class="btn landing-link-border" id="admin_login"><%=capitalize_as_title(t(:admin_login))%></button>
      </div>
      <hr>
      <div id="section_1_content">
        <h1 id="landing_modal"><%=t(:landing_modal)%></h1>
	    <h4 id="landing_message"><%=t(:landing_message)%> </h4>
	     <!--video controls>
           <source src="Shadows.mp4" type="video/mp4">
           <%=t(:video_unsupported).capitalize%>
        </video-->
        <iframe id="isegoria_video" src="https://www.youtube.com/embed/qrZDbD4VDCU?enablejsapi=1&version=3rel=0&showinfo=0&controls=1" frameborder="0" showinfo="0"
                    controls="0" allowfullscreen> </iframe>
        <%= image_tag "landing/play_vid.png", id:"video_play_button"%>
         <div id="section_1_apps_bar">
           <div class="row">
		     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			   <%= image_tag "landing/iOS.png"%>
			 </div>
		     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 version-col">
			   <p class="mob-app-name"><%=t(:landing_download)%> iOS</p>
			   <p class="mob-app-version"><%=t(:landing_ios_version).upcase%></p>
			 </div>
       <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			   <%= image_tag "landing/Android.png"%>
			 </div>
			 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 version-col">
			   <p class="mob-app-name"><%=t(:landing_download)%> Android</p>
			   <p class="mob-app-version"><%=t(:landing_android_version).upcase%></p>
			 </div>
		   </div>
         </div>
      </div>
	</div>
  </div>
  
   <!--   section for what is isegoria -->
   
  <div id= "landing_container_section_2" class="landing_container">
	<div id="section_2" class="landing-section">
	  <div id="section_2_top">
      <h1 id="section_2_title"><%=t(:landing_title_2_what_is_isegoria)%></h1>
	    <h3><%=t(:landing_text_2_what_is_isegoria)%></h3>
    </div>  
	</div>
  </div>
  
  <!--   section for quantified interaction -->
  
   <div id= "landing_container_section_4" class="landing_container">
	  <div id="section_4" class="landing-section">
      <div id="section_4_info">
      <div class="row section_4_icon_title">
    	  <div class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
    	    <h1><%=t(:landing_title_4_interactions)%></h1>
    	  </div>
      </div>	    
	    <h4><%=t(:landing_text_4_feature_1)%></h4>
	    <h4><%=t(:landing_text_4_feature_2)%></h4>
      </div>
	  </div>
  </div>
  
  
  <!--   section for powerful analytics -->

  <div id= "landing_container_section_5" class="landing_container">
    <div id="section_5" class="landing-section row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
        <h1><%=t(:landing_title_5_analytics)%></h1>
        <h4><%=t(:landing_text_5_analytics)%></h4>
      </div>
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
         <h1><%=t(:landing_title_5_analytics)%></h1>
         <h4><%=t(:landing_text_5_privacy)%></h4>
      </div>
    </div>
  </div>
  
   <!--   section for icons -->
   <div id= "landing_container_section_6" class="landing_container">
	  <div id="section_4" class="landing-section row">
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
         <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
      </div>
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
         <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
          <div class = "row">
           <div class="col-xs-4"> <%= image_tag "landing/Youtube.png",  id:"section_6_icon"%></div>
           <div class="col-xs-8"><h4>text here .....</h4></div>
         </div>
	  </div>
  </div>
   
   <!--   section for vibrant inclusive  experiences-->
   
  <div id= "landing_container_section_7" class="landing_container">
    <div id="section_7" class="landing-section row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
        <%= image_tag "landing/phoneScreenshot1.png",  id:"section_7_phone_img"%>
      </div>
       <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6">
         <h1><%=t(:landing_title_3_features)%></h1>
         <h3><%=t(:landing_text_3_features)%></h4>
         <hr>
         <h2>Lorem Ipsum</h1>
         <h4>Lorem Ipsum sdfsdfsdfsdf sdf sdfsdfsd fsdfsdfsdf sdfsdfsdf sdfsdfsdf sdfsdfsdf sdfsdfsdfsdf sdfsd fsdf sdfsedf sdf</h4>
         <h2>Lorem Ipsum</h1>
         <h4>Lorem Ipsum sdfsdfsdfsdf sdf sdfsdfsd fsdfsdfsdf sdfsdfsdf sdfsdfsdf sdfsdfsdf sdfsdfsdfsdf sdfsd fsdf sdfsedf sdf</h4>
         
      </div>
    </div>
  </div>
  
   <!--   section for powerful analytics-->
   
  <div id= "landing_container_section_8" class="landing_container">
    <div id="section_8" class="landing-section row">
     <div id="section_8_top">
      <h1 id="section_2_title"><%=t(:landing_title_2_what_is_isegoria)%></h1>
	    <h3><%=t(:landing_text_2_what_is_isegoria)%></h3>
    </div>
    </div>
  </div>
  
  
 
 
  <%= render "partials/landing_footer" %>
  <div id= "landing_container_menu_bar" class="landing_container">
	<div id="landing_menu_bar" class="landing-section">
	  <a href="#section_2_title" class = "btn"><%=capitalize_as_title(t(:landing_title_2_what_is_isegoria))%></a>
	  <a href="#section_4_info" class = "btn"><%=capitalize_as_title(t(:landing_title_4_interactions))%></a>
	  <a href="#section_3_top" class = "btn"><%=capitalize_as_title(t(:landing_title_3_features))%></a>
	  <a href="#section_7" class = "btn"><%=capitalize_as_title(t(:appraislas))%></a>
	</div>
  </div>
  <div class="landing_container">
    <!--div class="landing-section">
      <%= image_tag "landing/iPhone_1.png", id:"section_3_phone_picture"%>
     </div>
    <div class="landing-section">
	  <%= image_tag "landing/iPhone_2.png", id:"section_5_phone_picture"%>
	</div-->
  </div>
  <div id="login_form">
    <%= form_for(:session, url: sessions_path, :html =>{class: "navbar-form navbar-right"}) do |f| %>
      <div class="form-group">
        <%= f.label :username, t(:username).capitalize, class: "sr-only" %>
        <%= f.text_field :username, class: "form-control", placeholder: t(:username).capitalize %>
      </div>
      <div class="form-group">
        <%= f.label :password, t(:password).capitalize, class: "sr-only" %>
        <%= f.password_field :password, class: "form-control", placeholder: t(:password).capitalize %>
      </div>
      <%= f.submit capitalize_as_title(t(:login)), class: "btn btn-success navbar-button login_form_button" %>
      <input class="btn btn-danger navbar-button login_form_button" id="cancel_login" type="button" value="<%=capitalize_as_title(t(:cancel))%>" />
    <% end %>
  </div>
  <%= render "partials/flash_messages" %>
</body>
  

<script>

$(document).ready(function(){
	$(this).scroll(function(){
		var ua= navigator.userAgent;
    //Effect tested and only working in Firefox so far
		if(ua.toLowerCase().indexOf('firefox') > -1)
		{
			var pos =  $(this).scrollTop();
			if( pos <= 700 ) 
			{
        		$('#landing_container_menu_bar').css({position:'absolute', top: '700px'});  
    		}
    		else 
    		{
        		$('#landing_container_menu_bar').css({position:'fixed', top: '0px'});
    		}
		}
	});
 $('#admin_login').click(function(e){
    $('#login_form').toggleClass('show');
    e.preventDefault();
    });
   $('#cancel_login').click(function(e){
    $('#login_form').removeClass('show');
    e.preventDefault();
    });
    //script for video playing in the background
    $('#video_play_button').click(function(e){
      $('#landing_modal').hide();
      $('#landing_message').hide();
      $('#video_play_button').hide();
      $('#section_1_apps_bar').hide();
      $('#landing_container_section_1').css("background", "none");
      $("#isegoria_video")[0].src += "&autoplay=1";
      
    });
  });

</script>
</html>