<% provide(:title, t(:title_signup).capitalize) %>
<div id ="signup_form_container">
<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label :first_name, capitalize_as_title(t (:first_name)) %>
    <%= f.text_field :first_name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:first_name)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, capitalize_as_title(t (:last_name)) %>
    <%= f.text_field :last_name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:last_name)).capitalize %>
  </div>
   <div class="form-group">
    <%= f.label :email, capitalize_as_title(t (:email)) %>
    <%= f.text_field :email, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:email)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :yob, capitalize_as_title(t (:yob)) %>
    <%= f.text_field :yob, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:yob)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :nationality, capitalize_as_title(t (:nationality)) %>
    <%= f.text_field :nationality, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:nationality)).capitalize %>
  </div>
  <div class="form-group">
    <label><%=capitalize_as_title(t(:gender))%></label>
    <div class="radio">
      <label>
          <input type="radio" name="user[gender]" id="rbGenderFemale" value="Female" checked="true"> <%=capitalize_as_title(t(:female)) %>
      </label>
      <label>
        <input type="radio" name="user[gender]" id="rbGenderMale" value="Male"> <%=capitalize_as_title(t(:male)) %>
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, capitalize_as_title(t (:password)) %>
    <%= f.password_field :password, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:password)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, capitalize_as_title(t (:password_confirmation)) %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:password_confirmation)).capitalize %>
  </div>
  <hr>
  <div class="form-group" id="divInstitutionCountry">
    <label for="slInstCountry"><%=capitalize_as_title(t(:institution_country))%></label>
    <select class="form-control" id="slInstCountry">
      <option value="0"><%=t(:select_one).capitalize%></option>
      <% @institutions_catalog.each do |country| %>
          <option value="<%=country['countryId']%>"><%=get_country_name(country['countryId']).blank? ? country['countryName'] : get_country_name(country['countryId'])%></option>
        <%end%>
    </select>
  </div>
  <div class="form-group" id="divInstitutionCountry">
    <label for="slInstitution"><%=capitalize_as_title(t(:institution))%></label>
    <select class="form-control" id="slInstitution" name="user[institution]">
      <option value="0"><%=t(:select_one).capitalize%></option>
    </select>
  </div>
  <hr>
  <div class="form-group">
  	<label><%=capitalize_as_title(t(:account_type))%></label>
  	<div class="radio">
    	<label>
      		<input type="radio" name="user[account_type]" id="rbIndependentCandidate" value="ind" checked="true"> <%=capitalize_as_title(t(:independent_candidate)) %>
    	</label>
    	<label>
      	<input type="radio" name="user[account_type]" id="rbTicketManager" value="tkt"> <%=capitalize_as_title(t(:ticket_manager)) %>
    	</label>
  	</div>
  </div>
  <div class="form-group" id="divPosition">
  	<label for="slPosition"><%=capitalize_as_title(t(:election_position))%></label>
  	<select class="form-control" name="user[position]">
  		<option value="0"><%=t(:select_one).capitalize%></option>
  		<option value="1"><%=t(:president).capitalize%></option>
  		<option value="2"><%=t(:vicepresident).capitalize%></option>
  		<option value="3"><%=t(:secretary).capitalize%></option>
  		<option value="4"><%=t(:treasurer).capitalize%></option>
  	</select>
  </div>
  <div class="form-group" id="divTicketName" style="display: none">
    <%= f.label :ticket_name, t(:ticket_name).capitalize %>
    <%= f.password_field :ticket_name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:ticket_name)).capitalize %>
  </div>
  <%= f.submit capitalize_as_title(t(:signup)), class: "btn btn-large btn-success" %>
  <% end %>
  </div>
<script>
  var countries = <%=raw(@js_institutions_catalog)%>;
  var select_one_text = "<%=t(:select_one).capitalize%>"; 
</script>
<%= javascript_include_tag "home_util" %>