<div id="events_list">
  <% @events_list.each do |event| %>

    <section class="module news">
    <div class="module_container">
      <% if not event.picture[0].blank? %>
        <div class="module_media">
          <%= image_tag event.picture.blank? ? '' : event.picture[0]["url"], class: "img_tile", alt: t(:picture) %>
        </div>
      <% end %>

      <div class="module_text">
        <h3><%= event.name %></h3>
        <h4><%= event.location.name %></h4>
        <h4>
          <%= event.start_date %>
          <% if event.end_date != event.start_date %>
            – <%= event.end_date %>
          <% end %>
        </h4>

        <hr style="visibility: hidden;">

        <ul>
          <li>Added by <%= event.organizer %></li>
        </ul>
      </div>

      <%= button_to '', event_path(:id => event.id), confirm: 'Are you sure?', method: :delete, class: "UI button icon delete red" %>
      <%= link_to '<button class="UI button icon info blue" name="Button"></button>'.html_safe, edit_event_path(:id => event.id) %>
    </div>
  </section>

  <% end %>
</div>

<div class="section_controls">
  <%= render "partials/admin_list_pagination" %>
</div>

