<div class="section_controls">
<div class="pagination_controls">
  <% if @previous_page >=0 %>
  <%= link_to "<< ", events_path(:page =>@previous_page), :class => 'nav_control' %> 
  <%end%>
  <%=(@page+1)%>
  <% if @next_page >=0 %>
  <%= link_to " >>", events_path(:page =>@next_page), :class => 'nav_control' %> 
  <%end%> 
</div>
</div>
<div id="events_list">
  <% @events_list.each do |event| %>
  <div class="event_item">
    <div class="item_image">
        <%= image_tag event.picture.blank? ? '' : event.picture[0]["url"], class: "event_image_thumbnail", alt: t(:picture) %>
    </div>
    <div class="item_controls">
      <%= link_to t(:edit).capitalize, edit_event_path(:id => event.id), :class => 'edit_link' %> 
      <%= link_to t(:delete).capitalize, event_path(:id => event.id), method: :delete, :class => 'delete_link' %>
    </div>
    <div>
    <h3><%=event.name%></h3>
    <h4>@ <%=event.location.name%></h4>
    <h4><%=t(:start_date).capitalize+": "+event.start_date%>. <%=t(:end_date).capitalize+": "+event.end_date%></h4>
    <h4><%= t(:created_by).capitalize+" "+event.organizer + ' ' + t(:the)+ ' ' + event.created.to_s%></h4>
    </div>
  </div>
  <!--hr-->
  <% end %>
</div>