<% provide(:title, t(:title_new_event)) %>
<h1><%=capitalize_as_title(t(:title_new_event))%></h1>
<div>
<%= form_for(@event) do |f| %>
  <div class="form-group">
    <%= f.label :name, capitalize_as_title(t (:name)) %>
    <%= f.text_field :name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :location, capitalize_as_title(t (:location)) %>
    <%= f.text_field :location, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:location)).capitalize %>
  </div>
 <div class="form-group">
    <label for="event_start_date"><%=capitalize_as_title(t(:start_date))%></label>
    <div class="input-group date" id="dpk_start_date" >
      <input type="text" readonly="true" class="form-control" placeholder="Enter date" name="event[start_date]">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="event_start_time"><%=capitalize_as_title(t(:start_time))%></label>
    <div class="input-group bootstrap-timepicker">
      <input id="tpk_start_date" type="text" class="input-small" readonly="true" name="event[start_time]">
    </div>
  </div>
  <div class="form-group">
    <label for="event_end_date"><%=capitalize_as_title(t(:end_date))%></label>
    <div class="input-group date" id="dpk_end_date" >
      <input type="text" readonly="true" class="form-control" placeholder="Enter date" name="event[end_date]">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="event_end_time"><%=capitalize_as_title(t(:end_time))%></label>
    <div class="input-group bootstrap-timepicker">
      <input id="tpk_end_date" type="text" class="input-small" readonly="true" name="event[end_time]">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, capitalize_as_title(t (:description)) %>
    <%= f.text_area :description, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :organizer, capitalize_as_title(t (:organizer)) %>
    <%= f.text_field :organizer, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:organizer)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :organizer_email, capitalize_as_title(t (:organizer_email)) %>
    <%= f.text_field :organizer_email, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:organizer_email)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :picture, capitalize_as_title(t (:picture)) %>
    <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
  </div>
  <div class="upload-preview">
    <label><%=capitalize_as_title(t(:picture_preview))%></label>
    <!--Image closing tag required by the upload-preview-->
    <img />
  </div>
  <div class="form-group">
    <%= f.label t(:volunteers).capitalize%>
    <ul class="list-group" id="volunteers_list">
    </ul>
    <label><%= t(:position_title).capitalize%>: </label>
    <input type="text" class="form-control" id="txt_volunteer_position" placeholder="<%=t(:field_placeholder, field_name: t(:position_title)).capitalize%>"/>
    <label><%= t(:description).capitalize%>: </label>
    <input type="textarea" class="form-control" id="txt_volunteer_description" placeholder="<%=t(:field_placeholder, field_name: t(:description)).capitalize%>"/>
    <input type="button" class="btn btn-xs btn-info" id="btn_add_volunteer" value="<%=t(:add).capitalize%>"/>
    <%= f.hidden_field :volunteers, id: "hdd_volunteers"%>
  </div>
  <%= f.submit capitalize_as_title(t(:create)), class: "btn btn-large btn-success" %>
  <% end %>
  <div hidden="true">
    <div class="list-group-item" id="volunteers_list_item">
      <p><label><%= t(:position_title).capitalize%>:</label><label id="lbl_volunteers_position"></label></p>
      <label><%= t(:description).capitalize%>:</label><label id="lbl_volunteers_description"></label>
      <span class="badge" id="btn_remove_volunteer"><%=t(:remove).capitalize%></span>
      <input type="hidden" id="hdd_volunteer_index" class="hdd_volunteer_index"/>
    </div>
  </div>
</div>
<%= javascript_include_tag "events_util" %>
<script type="text/javascript">
  $('#tpk_start_date').timepicker({
    minuteStep: 5,
    showMeridian: false
  });
  $('#tpk_end_date').timepicker({
    minuteStep: 5,
    showMeridian: false
  });
  $("#dpk_start_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
  $("#dpk_end_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>
