<% provide(:title, t(:title_edit_photo_album)) %>
<div>
<%= form_for(@photo_album, :url => photo_album_path ,:html => {:method => :put}) do |f| %>
  <div id="form_header_background"></div>
  <div id="form_header">
    <div id="form_header_top">
    <%= link_to image_tag("home/Camera.png", alt:t(:choose_cover_back)) + capitalize_as_title(t(:choose_cover_back)) , '#', :class => "btn btn_choose_cover" %>
    <%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form btn_form_header" %>
    </div>
    <hr>
    <%= f.text_field :name, class: "form-control text_field title_text_field", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize %>
  </div>
<div id="form_main">
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:description))%></label>
    <hr class="form-field-hr">
    <%= f.text_area :description, class: "form-control text_area", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize %>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:location))%></label>
    <hr class="form-field-hr">
    <%= f.text_field :location, class: "form-control text_field", placeholder: t(:field_placeholder, field_name: t(:location)).capitalize %>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:thumbnail))%></label>
    <hr class="form-field-hr">
    <%= image_tag @photo_album.thumbnail, class: "photo_thumbnail"%>
    <input type="hidden" id="hdd_previous_picture" name="photo_album[previous_thumbnail]" value="<%=@photo_album.thumbnail%>">
  </div>
  <div class="form-group">
     <label class="form-field-label"><%=capitalize_as_title(t(:new_thumbnail))+" ("+t(:replace_picture_message)+")"%></label>
    <hr class="form-field-hr">
    <div class="file_input_wrapper">
      <%= f.file_field :thumbnail, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:thumbnail)).capitalize %>
      <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
    </div>
  </div>
  <div class="upload-preview1">
    <!--label><%=capitalize_as_title(t(:thumbnail_preview))%></label-->
    <!--Image closing tag required by the upload-preview-->
    <img />
  </div>
  <% end %>
  </div>
  <br>
  <div id="upload_pic_form">
  <%= form_for(@photo_album, :url => photo_album_upload_picture_path ,:html => {:method => :post}) do |f| %>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:picture))%></label>
      <hr class="form-field-hr">
      <div class="file_input_wrapper">
        <%= f.file_field :picture, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input_control', placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize %>
        <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
      </div>
    </div>
    <div class="upload-preview2">
      <!--label><%=capitalize_as_title(t(:picture_preview))%></label-->
      <!--Image closing tag required by the upload-preview-->
      <img />
    </div>
    <%= f.submit capitalize_as_title(t(:upload)), class: "btn btn-form one-click" %>
    <div class="form-group">
      <label class="form-field-label"><%=capitalize_as_title(t(:pictures))%></label>
      <hr class="form-field-hr">
      <% @photos.each do |picture| %>
        <%= image_tag picture.file, class: "photo_album_image"%>
        <%= link_to t(:delete).capitalize, photo_album_delete_picture_path(:id => picture.id), method: :delete, :class => 'delete_link one-click' %>
      <%end%>
    </div>
  <% end %>
  </div>
</div>
<%= javascript_include_tag "photo_albums_util" %>
<script type="text/javascript">
</script>