<div id="photo_albums_list">
  <% @photo_albums_list.each do |photo_album| %>
  <div class="photo_album_item">
    <div class="item_image">
        <%= image_tag photo_album.thumbnail, class: "photo_thumbnail", alt: t(:picture) %>
    </div>
    <div class="item_controls">
      <%= link_to t(:edit).capitalize, edit_photo_album_path(:id => photo_album.id), :class => 'edit_link' %>
      <%= link_to t(:delete).capitalize, photo_album_path(:id => photo_album.id), method: :delete, :class => 'delete_link' %>
    </div>
    <div>
      <h3><%=photo_album.name%></h3>
      <h4><%=photo_album.description%></h4>
      <h4><%= t(:created).capitalize+" "+photo_album.created%></h4>
    </div>
  </div>
  <!--hr-->
  <% end %>
</div>

<div class="section_controls">
  <%= render "partials/admin_list_pagination" %>
</div>

<%= javascript_include_tag "photo_albums_util" %>
