<% provide(:title, t(:title_new_photo_album)) %>
<h1><%=capitalize_as_title(t(:title_new_photo_album))%></h1>
<div>
<%= form_for(@photo_album) do |f| %>
<%= f.submit capitalize_as_title(t(:create)), class: "btn btn-large btn-success" %>
  <div class="form-group">
    <%= f.label :name, capitalize_as_title(t (:name)) %>
    <%= f.text_field :name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :description, capitalize_as_title(t (:description)) %>
    <%= f.text_area :description, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :location, capitalize_as_title(t (:location)) %>
    <%= f.text_field :location, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:location)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label :thumbnail, capitalize_as_title(t (:thumbnail)) %>
    <%= f.file_field :thumbnail, accept: "image/png,image/gif,image/jpeg" ,class: 'file_input', placeholder: t(:field_placeholder, field_name: t(:thumbnail)).capitalize %>
  </div>
  <div class="upload-preview">
    <label><%=capitalize_as_title(t(:thumbnail_preview))%></label>
    <!--Image closing tag required by the upload-preview-->
    <img />
  </div>
  <% end %>
</div>
<%= javascript_include_tag "photo_albums_util" %>
<script type="text/javascript">
</script>