<% provide(:title, t(:title_edit_ticket)) %>
<h1><%=capitalize_as_title(t(:title_edit_ticket))%></h1>
<div>
  <%= form_for(@ticket, :url => ticket_path ,:html => {:method => :put}) do |f| %>
    <%= f.submit capitalize_as_title(t(:save_changes)), class: "btn btn-large btn-success" %>
    <div class="form-group">
      <%= f.label :name, capitalize_as_title(t (:name)) %>
      <%= f.text_field :name, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:name)).capitalize %>
    </div>
    <div class="form-group">
      <%= f.label :acronym, capitalize_as_title(t (:acronym)) %>
      <%= f.text_field :acronym, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:acronym)).capitalize %>
    </div>
    <div class="form-group">
      <%= f.label :information, capitalize_as_title(t (:information)) %>
      <%= f.text_area :information, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:information)).capitalize %>
    </div>
    <div class="form-group">
      <%= f.label :color, capitalize_as_title(t (:color)) %>
      <%= f.text_field :color, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:color)).capitalize %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "tickets_util" %>