<% provide(:title, t(:title_edit_poll)) %>
<h1><%=capitalize_as_title(t(:title_edit_poll))%></h1>
<div>
<%= form_for(@poll, :url => poll_path ,:html => {:method => :put}) do |f| %>
<%= f.submit capitalize_as_title(t(:save_changes)), class: "btn btn-large btn-success" %>
  <div class="form-group">
    <%= f.label :question, capitalize_as_title(t (:question)) %>
    <%= f.text_area :question, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:question)).capitalize %>
  </div>
  <div class="form-group">
    <%= f.label t(:answers).capitalize%>
    <ul class="list-group" id="options_list">
    <% @index = 0 %>
    <% @poll.answers.each do |answer| %>
      <div class="list-group-item"><label><%=answer.to_s%></label><span class="badge btn_remove_option" id="btn_remove_option"><%=t(:remove).capitalize%></span>
        <input type="hidden" id="hdd_option_index" class="hdd_option_index" value=<%=@index%>/>
      </div>
      <% @index = @index + 1 %>
    <% end %>
    </ul>
    <input type="text" class="form-control" id="txt_option" placeholder="<%=t(:field_placeholder, field_name: t(:answer)).capitalize%>"/>
    <input type="button" class="btn btn-xs btn-info" id="btn_add_option" value="<%=t(:add).capitalize%>"/>
    <%= f.hidden_field :answers, id: "hdd_options"%>
  </div>
  <div class="form-group">
    <label for="poll_start_date"><%=capitalize_as_title(t(:start_date))%></label>
    <div class="input-group date" id="dpk_poll_date" >
      <input type="text" readonly="true" class="form-control" placeholder="<%=t(:field_placeholder, field_name: t(:start_date)).capitalize%>" name="poll[start_date]" value="<%=@poll.start_date%>">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-th"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :duration, capitalize_as_title(t (:duration))+" ("+t(:minutes)+")" %>
    <%= f.text_field :duration, class: "form-control", placeholder: t(:field_placeholder, field_name: t(:duration)).capitalize%>
  </div>
  <% end %>
  <div hidden="true">
    <div class="list-group-item" id="options_list_item"><label id="lbl_options_list_item"></label><span class="badge" id="btn_remove_option"><%=t(:remove).capitalize%></span>
      <input type="hidden" id="hdd_option_index" class="hdd_option_index"/>
    </div>
  </div>
</div>

<%= javascript_include_tag "polls_util" %>
<script type="text/javascript">
  $("#dpk_poll_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>
