<% provide(:title, t(:title_edit_poll)) %>
<div class="poll_form">
<%= form_for(@poll, :url => poll_path ,:html => {:method => :put}) do |f| %>
<%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form save_poll" %>
  <br>
  <br>
  <div class="form-group">
    <%= f.text_area :question, class: "form-control poll_question_field", placeholder: t(:field_placeholder, field_name: t(:question)).capitalize %>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:answers))%></label>
    <hr class="form-field-hr">
    <ul class="list-group" id="options_list">
    <% @index = 0 %>
    <% @poll.answers.each do |answer| %>
      <div class="list-group-item"><label><%=answer.to_s%></label><span class="badge btn_remove_option" id="btn_remove_option"><%=t(:remove).capitalize%></span>
        <input type="hidden" id="hdd_option_index" class="hdd_option_index" value=<%=@index%>/>
      </div>
      <% @index = @index + 1 %>
    <% end %>
    </ul>
    <input type="text" class="form-control text_field" id="txt_option" placeholder="<%=t(:field_placeholder, field_name: t(:answer)).capitalize%>"/>
    <input type="button" class="btn btn-xs btn-form" id="btn_add_option" value="<%=t(:add).capitalize%>"/>
    <%= f.hidden_field :answers, id: "hdd_options"%>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:start_date))%></label>
    <hr class="form-field-hr">
    <div class="input-group date" id="dpk_poll_date" >
      <span class="input-group-addon input-addon-left">
      <i class="glyphicon glyphicon-calendar"></i>
        </span>
      <input type="text" readonly="true" class="form-control date_field" placeholder="<%=t(:field_placeholder, field_name: t(:start_date)).capitalize%>" name="poll[start_date]" value="<%=@poll.start_date%>">
    </div>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:duration))+" ("+t(:minutes)+")" %></label>
    <hr class="form-field-hr">
    <div class="input-group">
      <%= f.text_field :duration, class: "form-control minutes_field", placeholder: t(:field_placeholder, field_name: t(:duration)).capitalize%>
      <span class="input-group-addon input-addon-right">
        <%=t(:minutes)%>
      </span>
    </div>
  </div>
  <% end %>
  <div hidden="true">
    <div class="list-group-item" id="options_list_item"><label id="lbl_options_list_item"></label><span class="badge" id="btn_remove_option"><%=t(:remove).capitalize%></span>
      <input type="hidden" id="hdd_option_index" class="hdd_option_index"/>
    </div>
  </div>
</div>

<%= javascript_include_tag "polls_util" %>
<script type="text/javascript">
  $("#dpk_poll_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>
