<div class="section_controls">
  <%= link_to capitalize_as_title(t(:upload_photo)), new_photo_path, :class => 'create_link' %>
  <div class="pagination_controls">
    <% if @previous_page >=0 %>
      <%= link_to "<< ", photos_path(:page =>@previous_page), :class => 'nav_control' %> 
    <%end%>
    <%=(@page+1)%>
    <% if @next_page >=0 %>
      <%= link_to " >>", photos_path(:page =>@next_page), :class => 'nav_control' %> 
    <%end%> 
  </div>
</div>

<div id="photos_list">
  <% @photos_list.each do |photo| %>
  <div class="photo_item">
    <div class="item_image">
        <%= image_tag photo.file, class: "photo_thumbnail", alt: t(:picture) %>
    </div>
    <div class="item_controls">
      <%= link_to t(:edit).capitalize, edit_photo_path(:id => photo.id), :class => 'edit_link' %> 
      <%= link_to t(:delete).capitalize, photo_path(:id => photo.id), method: :delete, :class => 'delete_link' %>
    </div>
    <div>
      <h3><%=photo.title%></h3>
      <h4><%=photo.description%></h4>
    </div>
  </div>
  <!--hr-->
  <% end %>
</div>
<%= javascript_include_tag "photos_util" %>