<div id="photos_list">
  <% @photos_list.each do |photo| %>
  <div class="photo_item">
    <div class="item_image">
        <%= image_tag photo.file, class: "photo_thumbnail", alt: t(:picture) %>
    </div>
    <div class="item_controls">
      <%= link_to t(:edit).capitalize, edit_photo_path(:id => photo.id), :class => 'edit_link' %>
      <%= link_to t(:delete).capitalize, photo_path(:id => photo.id), method: :delete, :class => 'delete_link' %>
    </div>
    <div>
      <h3><%=photo.title%></h3>
      <h4><%=photo.description%></h4>
    </div>
  </div>
  <!--hr-->
  <% end %>
</div>

<div class="section_controls">
  <%= render "partials/admin_list_pagination" %>
</div>

<%= javascript_include_tag "photos_util" %>
