<% provide(:title, t(:title_new_photo)) %>
<div>
<%= form_for(@photo) do |f| %>
  <div id="form_header_background"></div>
  <div id="form_header">
    <div id="form_header_top">
    <%= link_to image_tag("home/Camera.png", alt:t(:choose_cover_back)) + capitalize_as_title(t(:choose_cover_back)) , '#', :class => "btn btn_choose_cover" %>
    <%= f.submit capitalize_as_title(t(:save_and_finish)), class: "btn btn-form btn_form_header" %>
    </div>
    <hr>
    <%= f.text_field :title, class: "form-control text_field title_text_field", placeholder: t(:field_placeholder, field_name: t(:title)).capitalize %>
  </div>
  <div id="form_main">
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:description))%></label>
    <hr class="form-field-hr">
    <%= f.text_field :description, class: "form-control text_field", placeholder: t(:field_placeholder, field_name: t(:description)).capitalize %>
  </div>
  <div class="form-group">
    <label class="form-field-label"><%=capitalize_as_title(t(:date))%></label>
    <hr class="form-field-hr">
    <div class="input-group date" id="dpk_date" >
      <span class="input-group-addon input-addon-left">
        <i class="glyphicon glyphicon-calendar"></i>
      </span>
      <input type="text" readonly="true" class="form-control date_field" placeholder="<%=t(:field_placeholder, field_name: t(:date)).capitalize%>" name="photo[date]">
    </div>
  </div>
  <div class="form-group">
      <%= f.label :picture, capitalize_as_title(t (:picture)), class: "form-field-label" %> 
      <hr class="form-field-hr">
    <div class="file_input_wrapper">
      <%= f.file_field :file, accept: "image/png,image/gif,image/jpeg" , placeholder: t(:field_placeholder, field_name: t(:picture)).capitalize, class: 'file_input_control' %>
      <input class="btn btn-form file_input_button" type="button" value="<%=capitalize_as_title(t(:browse)) %>" name="commit">
    </div>
  </div>
  <div class="upload-preview">
    <!--label><%=capitalize_as_title(t(:picture_preview))%></label-->
    <!--Image closing tag required by the upload-preview-->
    <img />
  </div>
  </div>
  <% end %>
</div>
<%= javascript_include_tag "photos_util" %>
<script type="text/javascript">
  $("#dpk_date").datepicker({
    format: '<%=t(:date_format_javascript)%>',
    todayBtn: 'linked',
    autoclose: true
  });
</script>