<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Isegoria Web</title>
    <!--%= render "partials/googleMaps_API" %-->
  </head>
  <body id="logged_body">
    <% check_session %>
    <!--%= render "partials/facebook_SDK" %-->
    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%= render "partials/header_in" %>
    </nav>
    <!--ERROR MESSAGES-->
    <%= render "partials/flash_messages" %>
    <!--MAIN CONTAINER-->
    <div class="container-fluid">
      <div class="row">
        <!--SIDE MAIN MENU-->
        <div id="isegoria_menu_sidebar" class="col-sm-3 col-md-2">
          <%= render "partials/main_menu" %>
        </div>
        <!--CONTENT HOLDER-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
    <!--FOOTER-->
      <!--%= render "partials/footer" %-->
  </body>
</html>