<!DOCTYPE html>
<html>
<head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Isegoria Web</title>
       <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
</head>
<body>
<% check_session %>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_navbar">
            <span class="sr-only"><%=capitalize_as_title(t(:toggle_navigation))%></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="/"><img src="/assets/isegoria-logo-xs.jpg" alt="Isegoria Logo" /> Isegoria</a>
          <a class="navbar-brand visible-sm" href="/"><img src="/assets/isegoria-logo-sm.jpg" alt="Isegoria Logo" /> Isegoria</a>
          <a class="navbar-brand hidden-xs hidden-sm" href="/"><img src="/assets/isegoria-logo-default.jpg" alt="Isegoria Logo" /> Isegoria</a>
        </div>
        <div class="navbar-collapse collapse" id="top_navbar">
          <%= button_to capitalize_as_title(t(:logout)), "logout", method: :delete, :class => 'btn btn-info navbar-btn navbar-right' %>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_menu">
              <span class="sr-only"<%=capitalize_as_title(t(:toggle_navigation))%></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand"><%=capitalize_as_title(t(:main_menu))%></span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse" id="main_menu">
            <ul class="nav navbar-pills navbar-stacked">
              <li><h3><%=capitalize_as_title(t(:manage))%>: </h2> </li>
              <li><%= link_to "News", "/#", class: "active" %></li>
              <li><%= link_to "Events", "/#" %></li>
              <li><%= link_to "Photos", "/#" %></li>
              <li><%= link_to "Poll", "/#" %></li>
              <li><%= link_to "Election", "/#" %></li>
              <li><%= link_to "Users", users_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="col-sm-9">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
   </div> 
</div>
</body>
</html>

