<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Isegoria Web</title>
       <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAUnBzbT5A4Idsft5hzl05pD83vXv3Ryk">
    </script>
    
</head>
<body>
<% check_session %>
<%= render "partials/facebook_SDK" %>
<%= render "partials/header_in" %>
<%= render "partials/flash_messages" %>
<div class="container">
  <div class="row">
    <%= render "partials/main_menu" %>   
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div> 
</div>
<%= render "partials/footer" %>
</body>
</html>

